* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
}

.logo {
    animation-name: animar;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes animar {
    0% {
        transform: rotate(0deg) translateX(50px);
    }

    10% {
        transform: rotate(-5deg) translateX(45px);
    }

    20% {
        transform: rotate(0deg) translateX(40px);
    }

    30% {
        transform: rotate(5deg) translateX(35px);
    }

    40% {
        transform: rotate(0deg) translateX(30px);
    }

    50% {
        transform: rotate(-5deg) translateX(25px);
    }

    60% {
        transform: rotate(0deg) translateX(20px)
    }

    70% {
        transform: rotate(5deg) translateX(15px)
    }

    80% {
        transform: rotate(0deg) translateX(10px);
    }

    90% {
        transform: rotate(-5deg) translateX(5px);
    }

    100% {
        transform: rotate(0deg) translateX(0px);
    }
}

.fondo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
}

.imagenInicio,
.imagenNosotros {
    padding: 1rem;
    background-image: url(../assets/img/fondo.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
}

.carousel-item img {
    margin: 0 auto;
}

.fa-facebook {
    background-color: #2b4170;
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook:hover,
.fa-instagram:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

.fa-linkedin {
    background: #2867B2;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

.fa-whatsapp {
    position: fixed;
    margin: 0;
    padding: 0.6rem;
    bottom: 2vh;
    right: 1vw;
    font-size: 3rem;
    color: #fff;
    background-color: #3ec34f;
    border-radius: 50%;
}

.fa-whatsapp:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

iframe {
    height: 60vh;
}